# custom, for Rust-based core app
core/target
/target
core/input
core/output
node_modules
*.csv
*.db
*.pdf
.env*
.DS_Store


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
apps/web/build
dist
dev-dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
